<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="furniture-store-login">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Furniture Store</title>

</head>
<body>
    <!-- login -->
    <div class="login">
        <div class="login_container">
            <img class="login_logo" src="#" alt="login">
            <h1 class="login_title">Sign Up</h1>
            <p class="login_information">Register now or create your user</p>

            <!-- form -->
            <form class="login_form" action="#" method="POST">
                <label class="login_label" for="username">Name</label>
                <input class="login_input-username" type="text" name="username" id="username" placeholder="Username">

                <label class="login_label" for="password">Name</label>
                <input class="login_input-password" type="password" name="password" id="username" placeholder="*******">
                <input class="login_input-btn" value="Sign Up" type="submit">
            </form>
        </div>
    </div>
</body>
</html>